*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fondo{
  background-image: url("fondo.jpg");
  width: 100%;
  padding: 2% 2% 0 2%;
}
.fondo:after{
  content:"";
  display: table;
  clear: both;
}
.forest{
  background-image: url("forest.gif");
  width: 100%;
  height: 300px;
  background-size: cover;
  border: 10px solid white;
  position: relative;
}
.forest h1{
  color: white;
  border: 2px solid white;
  width: 25%;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.bar{
  background-color: #44312c;
  height: 50px;
  text-align: center;
}
.bar ul li{
  display: inline-block;
  color: white;
  line-height: 50px;
  border-right: 1px solid grey;
  padding: 0 10px 0 10px;
}
.cl{
  background-color: white;
  float: left;
  padding: 2%;
}
.cl1{
  width: 24%;
  height: 450px;
}
.cl1 h2 i{
  color: orange;
}
.cl2{
  width: 40%;
  height: 450px;
  margin-left: 2%;
}
.cl3{
  width: 32%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.cl3_1{
  width: 32%;
  margin-left: 2%;
}
.cl2 p , .cl3 p{
  padding-top: 3%;
}
.cl1 a , .cl3_1 a{
  display: block;
  padding-top: 6%;
  text-decoration: none;
  color: green;
  font-weight: bold;
}
.cl2 a{
  text-decoration: none;
  color: green;
  font-weight: bold;
  display: inline-block;
}
.cl1 a{
  padding-right: 4%;
  width: 50%;
}
